html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// custom-variables

$clr-neutral: rgb(245, 245, 250);
$clr-primary: rgb(218, 78, 111);
$clr-primary-light: rgb(237, 138, 159);
$clr-secondary: rgb(255, 255, 251);
$clr-ternary: rgb(12, 34, 45);
$grey: rgb(149, 146, 146);
$menu-logo-size: 4.2rem;
$transition: transform 400ms linear 0ms;
$margin-offsets: 2rem 1.5rem;
$arrow-size: 1.3rem;

:root {
    --font-size: 1.6rem;

    @media screen and (min-width: 40em) {
        --font-size: 1.4rem;
    }

    @media screen and (min-width: 64em) {
        --font-size: 1.3rem;
    }

    @media screen and (min-width: 80em) {
        --font-size: 1.2rem;
    }
}

// container

.container {
    min-height: 100vh;
    position: relative;

    * {
        font-size: var(--font-size);
        font-family: inherit;
    }

    background-color: $clr-secondary;
}

// main-header

.main-header {

    position: sticky;
    top: 0;
    left: 0;

    @media screen and (min-width: 64em) {
       display: flex;
       justify-content: space-between;
       padding: 0 1.2rem;
       align-items: center;
       background-color: $clr-primary;
    }

    z-index: 99;
}

// logo-menu-container

.logo-menu-container {
    display: flex;
    justify-content: space-between;
    background-color: $clr-primary;
    padding: 1.2rem 2rem;

    @media screen and (min-width: 64em) {
        display: inline;
        padding: 0;
    }
}

// logo-menu

%logo-menu {
    height: $menu-logo-size;
    width: $menu-logo-size;
    background-color: $clr-neutral;
}

// set-center

%set-center {
    position: absolute;
    transform: translate(-50%, -50%);
}

// logo

.logo {
    @extend %logo-menu;
    display: block;
    position: relative;
    background-color: $grey;
    z-index: 1;
    clip-path: circle(50%);
    overflow: hidden;
    align-self: flex-start;

    &::before {
        content: '';
        display: block;
        width: 70%;
        height: 70%;
        @extend %set-center;
        top: 90%;
        left: 50%;
        border-top-left-radius: 1.2rem 3rem;
        border-top-right-radius: 1.2rem 3rem;
        background-color: $clr-ternary;
        z-index: -1;
    }

    &::after {
        content: '';
        display: block;
        width: 80%;
        height: 80%;
        @extend %set-center;
        top: 50%;
        left: 50%;
        clip-path: circle(50%);
        background-color: $clr-secondary;
        z-index: -2;
    }
}

// sub-logo

.sub-logo {
    display: block;
    @extend %set-center;
    top: 30%;
    left: 50%;
    width: 30%;
    height: 30%;
    clip-path: circle(50%);
    background-color: $clr-ternary;
}

// menu

.menu {
    $transition: all 200ms linear 200ms;
    @extend %logo-menu;
    border: none;
    align-self: flex-end;
    overflow: hidden;
    transition: $transition;
    background-color: transparent;
    position: relative;

    @media screen and (min-width: 64em) {
        display: none;
    }
}

// line

[class |= 'line'] {
    $transition: all 200ms linear 0ms;
    @extend %set-center;
    display: block;
    left: 50%;
    width: 80%;
    height: 10%;
    background-color: $clr-neutral;
    transition: $transition;
}

// line-1

.line-1 {
    top: 30%;
}

// line-3

.line-3 {
    top: 70%;
}

// opened-menu

.opened-menu {
    transform: rotate(90deg);

    [class |= 'line']:not(.line-2) {
        width: 40%;
    }

    .line-1 {
        top: 39.5%;
        left: 80%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .line-3 {
        top: 60.5%;
        left: 80%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

// parting-line

.parting-line {
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: $clr-neutral;

    @media screen and (min-width: 64em) {
        display: none;
    }
}

// main-nav

.main-nav {
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 64em) {
        
        &:has(.services-links-opened) {
            overflow: initial;
        }
    }
}

// main-nav-list

.main-nav-list {
    list-style: none;
    transform-origin: top;
    background-color: $clr-primary;
    @media screen and (min-width: 64em) {
        transform: initial;
        display: flex;
        background-color: transparent;
    }
}

// main-nav-list-closed

.main-nav-list-closed {
    transition: $transition;
    transform: translateY(-100%);
}

// main-nav-list-opened

.main-nav-list-opened {
    transform: translateY(0);
}

// sub-menu-container

.sub-menu-container {
    overflow: hidden;
}

// sub-menu-container-reduced

.sub-menu-container-reduced {
    position: relative;
}

// sub-menu-container-expanded

.sub-menu-container-expanded {
    position: initial;
}

// services-links

.services-links {
    list-style: none;
    padding: 1.2rem 0;
    transition: $transition;
    background-color: $clr-neutral;
}

// services-links-closed

.services-links-closed {
    transform: translateX(-100%);

    @media screen and (min-width: 64em) {
        position: absolute;
        top: 105%;
        border-radius: 1.5rem;
        border: 0.1rem solid $grey;
    }
}

// services-links-opened

.services-links-opened {
    transform: translateX(0);

    @media screen and (min-width: 64em) {
        transform: translateX(-22%);
    }
}

// closed

.closed {
    overflow: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

// list

[class $='-list'] {
    list-style: none;
}

// nav-link-btn

%nav-link-btn {
    color: $clr-secondary;
    padding: 2rem 2.5rem;
    text-align: center;
    white-space: nowrap;

    &:focus {
        outline: 0.1rem solid transparent;
        background-color: $clr-secondary;
        color: $clr-primary;
        border: 0.1rem solid $clr-ternary;
    }

    @media screen and (hover: hover) {   
        
        &:focus:hover {
            border: 0.2rem solid $clr-secondary;
        }
        
        &:hover {
            color: $clr-secondary;
            background-color: $clr-ternary;
        }
    }

    &:active {
        background-color: $clr-primary-light;
        color: $clr-ternary;
    }
}

// nav-link

.nav-link {
    display: block;
    @extend %nav-link-btn;
    text-decoration: none;
}

// nav-btn

.nav-btn {
    @extend %nav-link-btn;
    width: 100%;
    border: 0;
    background-color: transparent;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        display: block;
        background-color: $clr-secondary;
        @extend %set-center;
        top: 50%;
        left: 85%;
        width: $arrow-size;
        height: $arrow-size;
        clip-path: polygon(0 100%, 50% 0, 100% 100%, 50% 80%);
        transition: $transition;
        z-index: -2;
    }

    &:focus::before {
        background-color: $clr-primary;
    }

    @media screen and (hover: hover) {
        &:hover {
            cursor: pointer;
        }
    }
}

// nav-btn-clicked

.nav-btn-clicked {
    &::before {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

// nav-sub-link

.nav-sub-link {
    color: $clr-ternary;
    padding: 1.2rem 5.6rem;
    margin: 0.5rem 1rem;
    border-radius: 5.2rem;
    background-color: $clr-secondary;

    @media screen and (hover: hover) {   
        
        &:focus:hover {
            border: 0.2rem solid $clr-primary;
        }
    }
}

// nav-link-btn-clicked

.nav-link-btn-clicked {
    background-color: $clr-primary-light !important;
    color: $clr-ternary !important;
}

// slider

.slider {
    overflow: hidden;
    height: fit-content;
    position: relative;
    background-color: $clr-neutral;
}

// slides-container

.slides-container {
    display: flex;
    align-items: center;
    width: 400%;
}

// slide

.slide {
    width: 100%;
    height: fit-content;
    padding: 5.2rem 3.5rem;
    margin: 1.6rem 1.2rem;
    background-color: $clr-secondary;
    border-radius: 2.5rem;
    transition-timing-function: linear;

    h1 {
        padding: 1.2rem 1.6rem;
    }

    .text {
        line-height: 1.4;
    }
}

// indicators

.indicators-container {
    display: flex;
    justify-content: center;
    padding: 2.3rem 0;
}

// indicator

.indicator {
    $transition: all 2s linear 0ms;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 3rem;
    border-radius: 50%;
    border: 0.1rem solid $clr-ternary;
    transition: $transition;
}

// indicator-actived

.indicator-actived {
    background-color: $clr-ternary;
}

// swiper

.swiper {
    top: 50%;
    left: 50%;
    @extend %set-center;
    width: 100%;
    height: 10rem;
    color: $clr-neutral;
    background-color: $grey;
    opacity: 0.3;
    border: 0;
    z-index: 98;
    font-size: 3.1em;
    white-space: nowrap;
    text-align: center;
    vertical-align: center;
}

 // sliding

 @keyframes sliding {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-75%);
    }
 }

 // hiddened

 .hiddened {
    visibility: hidden;
 }

 // services-container

 .services-container {
    padding: 2rem 2.4rem;
 }

 // service

 .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-height: 40vh;
    padding: 2rem 3.4rem 1.5rem;
    margin: 1.2rem 1.7rem 5.5rem;
    border-radius: 5vmin;
    background-color: $clr-neutral;
    color: $clr-ternary;

    h1 {
        padding: 1.2rem 3.2rem;
    }
 }

 // main-footer

 .main-footer {
    padding: 2rem 1.5rem;
    color: $clr-neutral;
    background-color: $clr-ternary;
    text-align: center;
 }

 // top-button

 .top-button {
    $button-size: 5rem;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: $clr-secondary;
    opacity: 0.5;
    transition: $transition;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;

    &:focus {
        opacity: 1;
        background-color: $clr-ternary;

        .top-icon {
            background-color: $clr-secondary;
        }

        .top-text {
            color: $clr-secondary;
        }
    }

    @media screen and (hover: hover) {
        &:hover {
            opacity: 1;
        }
    }

    &:active {
        opacity: 1;
        background-color: $grey;
    }
 }

 // top-icon

 .top-icon {
    display: block;
    width: 1.5rem;
    height: 2.5rem;
    background-color: $clr-ternary;
    clip-path: polygon(0 100%, 50% 0, 100% 100%, 50% 80%);
 }

 // top-text

 .top-text {
    color: $clr-ternary;
 }

 // top-button-clicked
 
 .top-button-clicked {
    opacity: 1;
    background-color: $grey !important;
 }
